Repository shihongxins/web-audio-player: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint, eslint

chore: add commitlint ♻️
  .eslintignore
  .husky/commit-msg
  .prettierignore
  .stylelintignore
  README.md
  commitlint.config.cjs
  docs/commitlint.md
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

test: test
  docs/配置husky和lint-staged.md
Due: prettier --write

chore: add commitizen and cz-git tool
  README.md
  commitlint.config.cjs
  docs/commitizen.md
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

docs(README.md): update reference documents
  .gitattributes
  .prettierignore
  README.md
  commitlint.config.cjs
Due: prettier --write, eslint

chore: add conventonal-changelog-cli ♻️
  CHANGELOG.md
  README.md
  docs/自动生成 changelog.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add release-it ♻️
  .release-it.json
  README.md
  docs/规范版本发布.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(commitlint): update commitlint type enum to add "release"
  commitlint.config.cjs
Due: prettier --write, eslint

release: v0.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

docs(README.md): update README
  README.md
Due: prettier --write

chore: add CI for Github Actions ♻️
  .github/workflows/gh-deploy.yml
  .prettierignore
  README.md
  docs/CICD.md
  docs/CICD.webp
Due: prettier --write

Deploying to gh-pages from @ shihongxins/web-audio-player@1165940e948f43dda7528e55e009d7dd4cc49ee3 🚀
  assets/index-0b2ea981.css
  assets/index-5bcf390f.js
  assets/vue-5532db34.svg
  index.html
  vite.svg
Due: prettier --write, stylelint, eslint

build(vite.config.ts): change base path for assets
  README.md
  docs/CICD.md
  package.json
  vite.config.ts
Due: prettier --write, eslint

Deploying to gh-pages from @ shihongxins/web-audio-player@a93f119b5ed046324ff8580ca8a8ccde8ed813ff 🚀
  assets/index-5432133a.js
  assets/index-5bcf390f.js
  index.html
Due: prettier --write, eslint

feat: add vite svg plugin
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  src/assets/icons/disc.svg
  src/assets/icons/round-more-vert.svg
  src/assets/icons/round-pause-circle.svg
  src/assets/icons/round-play-circle.svg
  src/assets/icons/round-queue-music.svg
  src/assets/icons/round-shuffle.svg
  src/assets/icons/round-skip-next.svg
  src/assets/icons/round-skip-previous.svg
  src/components/SVGIcon.vue
  src/main.ts
  vite.config.ts
Due: prettier --write, stylelint, eslint

feat: complete base layout
  .gitignore
  .stylelintrc.json
  index.html
  public/disc.svg
  public/vite.svg
  src/App.vue
  src/assets/icons/round-close.svg
  src/assets/vue.svg
  src/components/ControlVue.vue
  src/components/HelloWorld.vue
  src/components/SwiperVue.vue
  src/components/TitleVue.vue
  src/style.css
Due: prettier --write, stylelint, eslint

feat: read music data info
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/components/ControlVue.vue
  src/components/TitleVue.vue
  src/utils/index.ts
Due: prettier --write, stylelint, eslint

Path conditions:
  prettier --write: any of: *.*
  stylelint: (any of: *.{vue,jsx,tsx}) or (any of: *.{css,scss,sass,less})
  eslint: (any of: *.{vue,jsx,tsx}) or (any of: *.{js,cjs,ts})
